{% extends 'home.html' %}

{% block title %}Apom Poll{% endblock %}

{% block poll_content %}
    {% if context.poll.published_date %}
        <table class="table table-light table-striped">
                <tbody>
                    <tr>
                        <th>Author</th>
                        <td><a href="{% url 'user_detail' pk=context.poll.author.pk %}">{{ context.poll.author }}</a></td>
                    </tr>
                    <tr>
                        <th>Published</th>
                        <td>{{ context.poll.published_date }}</td>
                    </tr>
                    <tr>
                        <th>Home</th>
                        <td>
                            {% if context.resident_authorinfo.home %}
                                House no : {{ context.resident_authorinfo.home }},
                            {% endif %}
                            {% if context.resident_authorinfo.block %}
                                {{ context.resident_authorinfo.block }},
                            {% endif %}
                            {{ context.resident_authorinfo.community }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="card-link">{{ context.poll.title }}</a></h5>
                    <p class="card-text">{{ context.poll.text|linebreaksbr }}</p>
                    <p><a href="">{{context.poll.positive}} Supporters</a>  <a href="">{{context.poll.negative}} Protestors</a></p>
                    {% if context.poll.author.pk == user.pk %}

                    {% endif%}
                </div>
            </div>
        {% else %}
             <div class="card">
                <div class="card-body">
                    <p class="card-text">Poll is not live, sorry for inconvinience</p>
                </div>
             </div>
        {% endif %}
{% endblock %}