{% extends 'home.html' %}

{% block title %}Apom Post{% endblock %}

{% block post_content %}
    {% if context.post.published_date %}
        <table class="table table-light table-striped">
                <tbody>
                    <tr>
                        <th>Author</th>
                        <td><a href="{% url 'user_detail' pk=context.post.author.pk %}">{{ context.post.author }}</a></td>
                    </tr>
                    <tr>
                        <th>Published</th>
                        <td>{{ context.post.published_date }}</td>
                    </tr>
                    <tr>
                        <th>Home</th>
                        <td>
                            {% if context.resident_authorinfo.home %}
                                House no : {{ context.resident_authorinfo.home }},
                            {% endif %}
                            {% if context.resident_authorinfo.block %}
                                {{ context.resident_authorinfo.block }},
                            {% endif %}
                            {{ context.resident_authorinfo.community }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="card-link">{{ context.post.title }}</a></h5>
                    <p class="card-text">{{ context.post.text|linebreaksbr }}</p>
                    {% if context.post.author.pk == user.pk %}
                        <a href="{% url 'post_edit' pk=context.post.pk %}" class="card-link">Edit</a>
                    {% endif%}
                </div>
            </div>
        {% else %}
             <div class="card">
                <div class="card-body">
                    <p class="card-text">Post is not live, sorry for inconvinience</p>
                </div>
             </div>
        {% endif %}
{% endblock %}