{% extends 'apom/post_list.html' %}

{% block title %}Apom User{% endblock %}

{% block user_content %}
    {% if user.is_superuser or user.id == context.userinfo.id %}
        <a href="{% url 'user_edit' pk=context.userinfo.pk %}">Edit</a>
    {% endif %}
    </br>
    {% if user.is_superuser and not context.userinfo.is_superuser%}
        <a href="{% url 'user_delete' pk=context.userinfo.pk %}">Delete</a>
    {% endif %}
    <table class="table table-light table-striped">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td><a href="#">{{ context.userinfo.first_name }} {{ context.userinfo.last_name}}</a></td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td><a href="#">{{ context.userinfo.username }}</a></td>
                    </tr>
                    <tr>
                        <th>Mail ID</th>
                        <td><a href="#">{{ context.userinfo.email }}</a></td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td><a href="#">{{ context.residentinfo.role }}</a></td>
                    </tr>
                    <tr>
                        <th>Home</th>
                        <td>
                            {% if context.residentinfo.home %}
                                House no :
                                {{context.residentinfo.home}},
                            {% endif %}
                            {% if context.residentinfo.block %}
                                {{context.residentinfo.block}},
                            {% endif %}
                            {{context.residentinfo.community}}
                        </td>
                    </tr>
                    <tr>
                        <th>Joined on</th>
                        <td>{{ context.userinfo.date_joined }}</td>
                    </tr>
                    <tr>
                        <th>Is admin</th>
                        <td><a href="#">{{ context.userinfo.is_superuser}}</a></td>
                    </tr>
                    <tr>
                        <th>Is active</th>
                        <td><a href="#">{{ context.userinfo.is_active}}</a></td>
                    </tr>
                </tbody>
    </table>
</br>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Published Posts ({{context.posts.count}})</th>
            </tr>
        </thead>
    </table>
</br>
{% endblock %}