{% extends 'home.html' %}

{% block title %}Apom Users{% endblock %}

{% block user_content %}
<table class="table table-light table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Admin</th>
            <th>Active</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
 {% for userinfo, residentinfo in context.usersinfo %}
 <tr>
     <td><a href="{% url 'user_detail' pk=userinfo.pk %}">{{ userinfo.username }}</a></td>
     <td>{{ userinfo.is_superuser }}</td>
     <td>{{ userinfo.is_active }}</td>
     <td>
         {% if residentinfo.home %}
            {{ residentinfo.home }},
         {% endif %}
         {% if residentinfo.block %}
            {{ residentinfo.block }},
         {% endif %}
         {{ residentinfo.community }}
     </td>
 </tr>
 {% endfor %}
    </tbody>
</table>
{% endblock %}