<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Apom{% endblock %}

{% block content %}
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Apom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    {% if user.is_authenticated %}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post_new' %}">Add Post</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          {{ user.username }}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
    </li>
    </ul>
    {% else %}
     <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
     </ul>
  {% endif %}
  </div>
</nav>
</br>

<div>
  {% if user.is_authenticated %}
    {% block post_content %}
    {% endblock %}
  {% endif %}
</div>

{% endblock %}
